.mint-actionsheet{
  background: transparent !important;

  .mint-actionsheet-listitem,
  .mint-actionsheet-button{

    border-radius: 8px;
    margin: 8px 2%;
    width: 96%;

  }

  .mint-actionsheet-listitem{
    background: rgba(255,255,255,0.92);
  }

}