.button{
  padding:12px 15px;
  color: #fff;
  background:$main_color;

  text-decoration:none;
  font-size:14px;
  min-width:100px;

  border-radius: 100px;
  text-align:center;
  cursor: pointer;

  transition: all $animation-time ease;

  &:hover{
    background:darken($main_color, 3%);
  }

  &.nobg{
    background:transparent !important;
    padding: 0 !important;
  }

  &.is-shadow{
    box-shadow:0 21px 30px -6px rgba(0,0,0,0.3);
    &:hover,
    &:focus{

    }
  }

  &.book-icon{
    &:before{
      content:'';
      background-image:url('assets/icons/book-icon.svg');
      background-size: contain;
      background-position:center 2px;
      background-repeat:no-repeat;
      margin-right:10px;
      float: left;
      width: 18px;
      height:  18px;
    }
  }

  &.is-buy{

    &.active{
      box-shadow:0 5px 10px -5px rgba(0,0,0,0.3);

      &:before{
        background-image: none;
        content: "+";
        transform: rotate(45deg);
      }
    }

    &:before{
      content:'';
      background-image:url('assets/icons/cart-icon.svg');
      background-size: contain;
      background-position:center 1px;
      background-repeat:no-repeat;
      margin-right:10px;
      float: left;
      width: 18px;
      height: 18px;
      font-size: 30px;
      line-height: 20px;
      transition: all .3s ease;
    }
  }
}
