
$base-font-size:16px;

$max-width: 1280px;

$animation-time:0.3s;


$main_color: darken(#45AEE3, 5%);


$grey:#636363;
$lighgrey: lighten($grey, 40%);

$facebook:#3b5998;
$twitter: #00aced;
$pinterest: #cb2027;
$instagram: #3f729b;
$youtube: #cd201f;
$google: #dc4e41;
$linkedin: #0077b5;


.book-shadow{ box-shadow: 15px 9px 24px rgba(0,0,0,0.2), 14px 17px 50px -2px rgba(0,0,0,0.1), 14px 7px 20px -2px rgba(0,0,0,0.1);}
