#header{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 9999;

    padding: 15px 0  0 0;

    transition: all .3s ease-in;

    &.scrolled{
        background: $main_color;
        box-shadow: 0 0  26px rgba(0,0,0,0.2);

        .mobile-nav-trigger{
            filter: blur(0px);
        }
    }

    > div{
        position: relative;
        z-index: 100;
    }

}


.logo{

    width: 100px;
    height: 50px;

    background: url("assets/img/logo.svg") no-repeat;
    background-position: center;
    background-size: contain;
}
