/////////////
//OPACITY IN
////////////
.opacityIn{
  animation: opacityIn 0.7s ease forwards;
  animation-delay: 0.5s;
}
@keyframes opacityIn {
  from {opacity: 0;}
  to {opacity: 1;}
}


/////////////////
//IN FROM BOTTOM
////////////////
.inFromBottom{
  animation: inFromBottom 0.3s forwards;
  animation-delay: 0.5s;
}
@keyframes inFromBottom {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
  }
  from {transform: translate3D(0,150%,0); opacity: 0;}
  to {transform: translate3D(0,0,0); opacity: 1;}
}




///////////////
//OUT TO LEFT
///////////////
.outToLeft{
  animation: outToLeft 0.5s forwards;
}
@keyframes outToLeft {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
  }
  from {transform: translate3D(0,0,0); opacity: 1;}
  to {transform: translate3D(-80px,0,0); opacity: 0;}
}



///////////////
//LEFT TO RIGHT
///////////////
.leftToRight{
  animation: leftToRight 0.5s forwards;
  animation-delay: 0.5s;
}
@keyframes leftToRight {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
  }
  from {transform: translate3D(-50%,0,0); opacity: 0;}
  to {transform: translate3D(0,0,0); opacity: 1;}
}


///////////////
//RIGHT TO LEFT
///////////////
.rightToLeft{animation: rightToLeft 0.5s ease;}
@keyframes rightToLeft {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
  }
  from {transform: translate3D(50%,0,0); opacity: 0;}
  to {transform: translate3D(0,0,0); opacity: 1;}
}


///////////
//BOUNCE IN
///////////
.bounceIn{animation: bounceIn 0.5s;}
@keyframes bounceIn {
  0%, 100%, 20%, 40%, 60%, 80% {
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }
  20% {
    transform: scale3d(1.1,1.1,1.1);
  }
  40% {
    transform: scale3d(.9,.9,.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03,1.03,1.03);
  }
  80% {
    transform: scale3d(.97,.97,.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
