.book-collection{
  float: left;
  width: 100%;

  .row{
    position: relative;
    overflow: auto;
    height: 280px;
  }


  h2{
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    padding: 0 15px;
    margin: 0;
    text-transform: uppercase;
  }


  &--item{
    float: left;
    width: 40vw;

    a, img{
      float: left;
      width: 100%;
    }

    a{
      padding: 20px 10px 30px;
    }

    .cover{
      background: #eeeeee;
      box-shadow: 15px 9px 24px rgba(0,0,0,0.2), 14px 17px 50px -2px rgba(0,0,0,0.1), 14px 7px 20px -2px rgba(0,0,0,0.1);
    }
  }

  .placeholder{
    width: 40vw;
  }


  .placeholders{
    //position: absolute;
    //left: 0;

    float: left;
    width: auto;

    display: inline-flex;

    .item{
      float: left;
      width: 40vw;

      a{
        float: left;
        padding: 20px 10px 30px;
      }

      img{
        float: left;
        width: 100%;
        box-shadow: 15px 9px 24px rgba(0,0,0,0.2), 14px 17px 50px -2px rgba(0,0,0,0.1), 14px 7px 20px -2px rgba(0,0,0,0.1);
      }
    }

  }

}
