<div class="book-collection">

    <slot></slot>

    <div class="row">


        <div v-if="!loaded" class="placeholders">

            <!-- PLACEHOLDERS: visible while data is loading -->
            <div class="item"><a href=""><img src="assets/img/cover-placeholder.png" class="shimmer-placeholder"></a></div>
            <div class="item"><a href=""><img src="assets/img/cover-placeholder.png" class="shimmer-placeholder"></a></div>
            <div class="item"><a href=""><img src="assets/img/cover-placeholder.png" class="shimmer-placeholder"></a></div>

        </div>


        <ons-carousel swipeable overscrollable auto-scroll fullscreen auto-refresh direction="horizontal" item-width="45%" var="carousel" v-if="loaded">

            <ons-carousel-item v-for="item in collection">

              <div class="book-collection--item">

                <router-link :to="item.slug" :title="item.title.rendered">

                    <img :src="item.the_thumbnail" :alt="item.title.rendered" class="cover">

                </router-link>

              </div>

            </ons-carousel-item>

        </ons-carousel>

    </div>

</div>
